.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(blue, pink);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2em;
}
.resetButton{
  background-color: #2768e9;
  color: white;
  font-size: medium;
  border-radius: 3px;
  border: thick double #32a1ce;
  padding: 12px 28px;
}